<h2 class="text-center">Book Lists</h2>
<div>
    
</div>
<table class="m-5 table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Author</th>
        <th scope="col">Price</th>
        <th scope="col">Created_At</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of bookLists">
        <th scope="row">{{book.title}}</th>
        <td>{{book.content}}</td>
        <td>{{book.author}}</td>
        <td>{{book.price}}</td>
        <td>{{book.createdAt}}</td>
        <td>
          <button class="btn btn-primary btn-sm m-2" (click)="onEdit(book._id)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="onDelete(book._id)">Delete</button>
        </td>
      </tr>
    </tbody>
</table>